version: '3'
services:
  bind9:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: bind9
    hostname: bind9
    volumes:
      - ./bind:/etc/bind
    ports:
      - '53:53/udp'
      - '53:53/tcp'
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
